.imprimir{
    width: 80vw;
    
}
table {
border-collapse: collapse; /* Garante que as bordas não se sobreponham */
width: 100%;
border-radius: 10px;
overflow: hidden; /* Certifica-se de que as bordas arredondadas são aplicadas corretamente */
}

th, td {
border: 1px solid #dddddd; /* Adiciona bordas às células da tabela */
text-align: left;
padding: 8px;
}

th {
background-color: #f2f2f2; /* Cor de fundo para cabeçalhos */
}
.tabela{
    align-items: center;
    justify-content: center;
    display:flex;
    width: 100vw;
    flex-direction: column;
}